{% extends 'student_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block link %}
{{block.super}}
      <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}"> -->
{% endblock link %}
    
   
{% block title %}{{block.super}}student | password-reset {% endblock title %} 
  {% block content1 %}
  <div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>{{message.tags}}</strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
 {% endblock content1 %}
{% block content2 %}
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-12">
      <div class="card" style="width: 23rem;">
          <img class="card-img-top" src={{student.profile_image}} alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{student.first_name}} {{student.last_name}}</h5>
            <p class="card-text">Department of Computer Science and Engineering</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Student ID:</b> {{student.student_id}}</li>
            <li class="list-group-item"><b>Session:</b>  {{student.session}}</li>
            <li class="list-group-item"><b>Atached Hall:</b>  {{student.hall}}</li>
          </ul>
        </div>
  </div>
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h1>Password Reset with old one </h1>
            <form action="" method="POST" class="uniForm" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <br>
        <input type="submit" value="SetPassword" class="btn btn-outline-primary">
    </form>
        </div>
    </div>
    
    {% if messages %}
        {% for message in messages %}
            <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
        {% endfor %}
    {% endif %}
</div>
  

{% endblock content2 %}
{% block script %}
  {{block.super}}
{% endblock script %}
  
  </body>
</html>
 