{% extends 'teacher_base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block mystyle %}
  .colwidth{
    width: 70px;
  }
{% endblock mystyle %}
    
   
{% block title %}{{block.super}} | Current Courses {% endblock title %} 

 {% block content1 %}
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>{{message.tags}}</strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
 {% endblock content1 %}
 
{% block content2 %}
<div class="container">
  <div class="row">
    <div class="col-4">
      {% for f in faculty %}
        {% include  'faculty/profile_sidebar.html' %}
      {% endfor %}
    </div>
    <div class="col-8">
      <div>
        <a class="btn btn-primary m-2 colwidth" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
          1-1
        </a>
        <a class="btn btn-primary m-2 colwidth" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
          1-2
        </a>
        <a class="btn btn-primary m-2 colwidth" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
        2-1
        </a>
        <a class="btn btn-primary m-2 colwidth" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
          2-2
        </a>
        <a class="btn btn-primary m-2 colwidth" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
          3-1
        </a>
        <a class="btn btn-primary m-2 colwidth" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
          3-2
        </a>
        <a class="btn btn-primary m-2 colwidth" data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
        4-1
        </a>
        <a class="btn btn-primary m-2 colwidth" data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
          4-2
        </a>
      </div>
      <div>
        <div class="collapse" id="collapseExample1">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Course Code</th>
                <th scope="col">Credit</th>
                <th scope="col">Semester Number</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
                {% for cr in courses %}
                  {% if cr.semister_no == '1st Year 1st Semester' %}
                  <tr>
                    <td>{{cr.course_code}}</td>
                    <td>{{cr.credit}}</td>
                    <td>{{cr.semister_no}}</td>
                    <td><a href={% url 'course_details' cr.course_code %}>details</a></td>
                  </tr>  
                  {% endif %}
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div>
        <div class="collapse" id="collapseExample2">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Course Code</th>
                <th scope="col">Credit</th>
                <th scope="col">Semester Number</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
                {% for cr in courses %}
                  {% if cr.semister_no == '1st Year 2nd Semester' %}
                  <tr>
                    <td>{{cr.course_code}}</td>
                    <td>{{cr.credit}}</td>
                    <td>{{cr.semister_no}}</td>
                    <td><a href={% url 'course_details' cr.course_code %}>details</a></td>
                  </tr>  
                  {% endif %}
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    <div>
      <div class="collapse" id="collapseExample3">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Credit</th>
              <th scope="col">Semester Number</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
              {% for cr in courses %}
                {% if cr.semister_no == '2nd Year 1st Semester' %}
                <tr>
                  <td>{{cr.course_code}}</td>
                  <td>{{cr.credit}}</td>
                  <td>{{cr.semister_no}}</td>
                  <td><a href={% url 'course_details' cr.course_code %}>details</a></td>
                </tr>  
                {% endif %}
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <div class="collapse" id="collapseExample4">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Credit</th>
              <th scope="col">Semester Number</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
              {% for cr in courses %}
                {% if cr.semister_no == '2nd Year 2nd Semester' %}
                <tr>
                  <td>{{cr.course_code}}</td>
                  <td>{{cr.credit}}</td>
                  <td>{{cr.semister_no}}</td>
                  <td><a href={% url 'course_details' cr.course_code %}>details</a></td>
                </tr>  
                {% endif %}
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <div class="collapse" id="collapseExample5">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Credit</th>
              <th scope="col">Semester Number</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
              {% for cr in courses %}
                {% if cr.semister_no == '3rd Year 1st Semester' %}
                <tr>
                  <td>{{cr.course_code}}</td>
                  <td>{{cr.credit}}</td>
                  <td>{{cr.semister_no}}</td>
                  <td><a href={% url 'course_details' cr.course_code %}>details</a></td>
                </tr>  
                {% endif %}
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    
    <div>
      <div class="collapse" id="collapseExample6">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Credit</th>
              <th scope="col">Semester Number</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
              {% for cr in courses %}
                {% if cr.semister_no == '3rd Year 2nd Semester' %}
                <tr>
                  <td>{{cr.course_code}}</td>
                  <td>{{cr.credit}}</td>
                  <td>{{cr.semister_no}}</td>
                  <td><a href={% url 'course_details' cr.course_code %}>details</a></td>
                </tr>  
                {% endif %}
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <div class="collapse" id="collapseExample7">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Credit</th>
              <th scope="col">Semester Number</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
              {% for cr in courses %}
                {% if cr.semister_no == '4th Year 1st Semester' %}
                <tr>
                  <td>{{cr.course_code}}</td>
                  <td>{{cr.credit}}</td>
                  <td>{{cr.semister_no}}</td>
                  <td><a href={% url 'course_details' cr.course_code %}>details</a></td>
                </tr>  
                {% endif %}
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <div class="collapse" id="collapseExample8">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Course Code</th>
              <th scope="col">Credit</th>
              <th scope="col">Semester Number</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
              {% for cr in courses %}
                {% if cr.semister_no == '4th Year 2nd Semester' %}
                <tr>
                  <td>{{cr.course_code}}</td>
                  <td>{{cr.credit}}</td>
                  <td>{{cr.semister_no}}</td>
                  <td><a href={% url 'course_details' cr.course_code %} type="button" class="btn btn-info">details</a></td>
                </tr>  
                {% endif %}
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock content2 %}


{% block script %}
  {{block.super}}
{% endblock script %}
  
  </body>
</html>