<div class="footer container-fluid bg-secondary mt-3">
    <div class="row p-3 text-white">
      <div class="col-md-3">
        <h3 class="text-white-50 mb-4">PROJECT</h3>
        <p>Latest Release</p>
        <p>Updates</p>
        <p>Javascript API</p>
        <p>Graphics</p>
      </div>
      <div class="col-md-3">
        <h3 class="text-white-50 mb-4">ICONS</h3>
        <p>Google</p>
        <p>Facebook</p>
        <p>Youtube</p>
  
      </div>
      <div class="col-md-3">
        <h3 class="text-white-50 mb-4">SUPPORT</h3>
        <p>Trouble shooting</p>
        <p>Begineer</p>
        <p>Ecxpert</p>
      </div>
      <div class="col-md-3">
        <h3 class="text-white-50 mb-4">About</h3>
        <p>contact</p>
        <p>News</p>
        <p>Update</p>
      </div>
    </div>       
  </div>
  <div class="p-3 text-center text-white bg-dark">
    <p>Contact with us !! Copy right by Shohag Rana</p>
  </div>
  